@CHARSET "UTF-8";

.navbar-inner ul li {
	background: none !important;
}

.navbar-inner {
	min-height: 30px !important;
}

.navbar .nav > li > a.disabled {
    cursor: not-allowed;
}

.bs-docs-example:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 9px;
    position: relative;
}

.vc-otitle {
	font-weight:  bold;
}

.vc-txns-results th{
	text-align: center;
}

.center {
	text-align: center !important;
}
