<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="payments" label="COM_VIRTUALCURRENCY_PAYMENTS" description="COM_VIRTUALCURRENCY_PAYMENTS_PARAMS" addfieldpath="/administrator/components/com_virtualcurrency/models/fields">
        <field name="currency_id" type="vcrealcurrency" label="COM_VIRTUALCURRENCY_REAL_CURRENCY" description="COM_VIRTUALCURRENCY_REAL_CURRENCY_DESC"/>
        <field name="fraction_digits" type="text" label="COM_VIRTUALCURRENCY_FRACTION_DIGITS" description="COM_VIRTUALCURRENCY_FRACTION_DIGITS_DESC" />
    </fieldset>
    <fieldset name="payments" label="COM_VIRTUALCURRENCY_PAYMENTS" description="COM_VIRTUALCURRENCY_PAYMENTS_PARAMS" addfieldpath="/administrator/components/com_content/models/fields">
        <field name="payments_service_terms" type="radio" default="0" label="COM_VIRTUALCURRENCY_PAYMENTS_DISPLAY_TERMS" description="COM_VIRTUALCURRENCY_PAYMENTS_DISPLAY_TERMS_DESC" class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="payments_service_terms_url" type="modal_article" label="COM_VIRTUALCURRENCY_PAYMENTS_TERMS" description="COM_VIRTUALCURRENCY_PAYMENTS_TERMS_DESC"/>
        <field name="payments_show_icons" type="radio" default="0" label="COM_VIRTUALCURRENCY_PAYMENTS_SHOW_ICONS" description="COM_VIRTUALCURRENCY_PAYMENTS_SHOW_ICONS_DESC" class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset name="debug" label="COM_VIRTUALCURRENCY_DEBUG" description="COM_VIRTUALCURRENCY_DEBUG_PARAMS">
        <field name="debug_payment_disabled" type="radio" default="0" label="COM_VIRTUALCURRENCY_DEBUG_PAYMENT_DISABLED" description="COM_VIRTUALCURRENCY_DEBUG_PAYMENT_DISABLED_DESC" class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="debug_disabled_functionality_msg" type="text" default="" class="span6" label="COM_VIRTUALCURRENCY_MESSAGE" description="COM_VIRTUALCURRENCY_DEBUG_DISABLED_FUNCTIONALITY_MSG_DESC"/>
    </fieldset>

    <fieldset name="advanced" label="COM_VIRTUALCURRENCY_ADVANCED" description="COM_VIRTUALCURRENCY_ADVANCED_PARAMS">
        <field name="media_folder" type="text" default="images/virtualcurrency" label="COM_VIRTUALCURRENCY_MEDIA_FOLDER" description="COM_VIRTUALCURRENCY_MEDIA_FOLDER_DESC" class="input-xxlarge" />
        <field name="administrator_id" type="user" label="COM_VIRTUALCURRENCY_ADMINISTRATOR" description="COM_VIRTUALCURRENCY_FIELD_ADMINISTRATOR_DESC" />
    </fieldset>
</config>